:root.theme-light {
  --background-color: rgba(255, 241, 247, 1);
  --background-image: url(../images/cover-image-light.png);
  --color-heading: rgba(255, 194, 230, 1);
  --color-section-heading: rgba(53, 52, 48, 1);
  --color-description: rgba(53, 52, 48, 1);
  --bc-description: rgba(255, 141, 203, 1);
  --color-card-heading: rgba(53, 52, 48, 1);
  --bc-card-heading: rgba(255, 141, 203, 1);
  --color-text-body: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --button-color: rgba(53, 52, 48, 1);
  --decorated-zone-color: rgba(53, 52, 48, 1);
  --link-shadow-color: rgba(255, 141, 203, 1);
  --button-color-hover: rgba(50, 49, 45, 0.4);

  .header_decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgba(255, 241, 247, 1);
    --background-image: url(../images/cover-image-light.png);
    --color-heading: rgba(255, 194, 230, 1);
    --color-section-heading: rgba(53, 52, 48, 1);
    --color-description: rgba(53, 52, 48, 1);
    --bc-description: rgba(255, 141, 203, 1);
    --color-card-heading: rgba(53, 52, 48, 1);
    --bc-card-heading: rgba(255, 141, 203, 1);
    --color-text-body: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --button-color: rgba(53, 52, 48, 1);
    --decorated-zone-color: rgba(53, 52, 48, 1);
    --link-shadow-color: rgba(255, 141, 203, 1);
    --button-color-hover: rgba(50, 49, 45, 0.4);
    
    .header_decor {
      display: none;
    }
  }
}
