.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  gap: 59px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  block-size: 100dvh;
  min-block-size: 668px;
  margin-bottom: 45px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: 14px;
  right: 0px;
  border-top: 1px solid var(--decorated_zone_color);
  border-right: 1px solid var(--decorated_zone_color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 6px;
  left: 0px;
  border-bottom: 1px solid var(--decorated_zone_color);
  border-left: 1px solid var(--decorated_zone_color);
}

.header_decor {
  position: absolute;
  top: 14px;
  right: 8px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 0, 112, 1);
  line-height: 25px;
}

.header_decor::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0px 0px 4px 2px;
  border-radius: 50%;
  background-color: rgba(255, 0, 112, 1);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  text-transform: lowercase;
  color: var(--button_color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  inline-size: 70px;
  block-size: 28px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button_color_hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button_color);
  pointer-events: none;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
  display: grid;
}

.header__theme-menu-list {
  display: grid;
  gap: 14px;
  justify-items: center;
}

.h1 {
  color: var(--h1_text_color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.h2 {
  color: var(--h2_text_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.h3 {
  align-self: start;
  align-items: start;
  color: var(--h3_text_color);
  background-color: var(--h3_bc);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.h4 {
  color: var(--h4_text_color);
  background-color: var(--h4_bc);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.p {
  color: var(--p_text_color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}
.main {
  display: grid;
  gap: 44px;
}

.content-section {
  display: grid;
  gap: 16px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  display: grid;
  position: relative;
  color: var(--footer_color);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  place-items: center;
  min-block-size: 667px;
  margin-top: 40px;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link {
  text-shadow: 2px 2px 0 var(--link_shadow_color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}
