.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 40px;
  padding: 10px 10px 15px;
  block-size: 100dvh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated_zone_color);
  border-right: 1px solid var(--decorated_zone_color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated_zone_color);
  border-left: 1px solid var(--decorated_zone_color);
  inline-size: 25px;
  block-size: 25px;
}

.header_decor {
  position: absolute;
  top: 10px;
  right: 21px;
  color: rgba(255, 0, 112, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header_decor::after {
  content: "";
  display: inline-block;
  margin-inline-start: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px;
  background-color: rgba(255, 0, 112, 1);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--button_color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  inline-size: 70px;
  block-size: 27px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button_color_hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button_color);
  pointer-events: none;
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: center;
  margin-top: 10px;
}

.header__theme-menu-list {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.h1 {
  padding-top: 15px;
  color: var(--h1_text_color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.h2 {
  color: var(--h2_text_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.h3 {
  align-self: center;
  margin-bottom: 10px;
  color: var(--h3_text_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--h3_bc);
}
.header .h3 {
  margin-bottom: 3px;
}

.gallery .h3 {
  margin-bottom: 0;
}

.h4 {
  margin-bottom: 10px;
  color: var(--h4_text_color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--h4_bc);
}

.how_first_block .h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.p {
  color: var(--p_text_color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.main {
  display: grid;
  gap: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.gallery {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(min(375px, 100%), 1fr));*/
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 40px;
  color: var(--footer_color);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
  min-block-size: 667px;
  block-size: 100dvh;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link_shadow_color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}
@media (width >= 760px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    gap: 0;
    margin-bottom: 45px;
    padding: 0 20px 0;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 20px;
  }

  .h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: -20px;
    padding-top: 0;
  }

  .h3 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .header .h3 {
    margin-bottom: 20px;
  }

  .header_decor {
    top: 20px;
    right: 30px;
  }

  .header_decor::after {
    margin-inline-start: 8px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .why {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 47px;
    row-gap: 20px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 5px;
  }

  .why_h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .why_first_block {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .why_sekond_block {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .why_h3 {
    margin-bottom: 10px;
  }

  .what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding-top: 28px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .what_h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .what_h3 {
    margin-bottom: 10px;
  }

  .what_first_block {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .what_second_block {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .what_third_block {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .how {
    grid-template-columns: minmax(236px, 1fr) 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .how_h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .how_first_block {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .how_sekond_block {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .how_fhird_block {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .how_fourf_block {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .how_fifth_block {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .how_h3 {
    margin-bottom: 20px;
  }

  .how_h4 {
    margin-bottom: 10px;
  }

  .gallery_adapt {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .gallery_adapt_h3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gallery__image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }

  .adapt_first_picture {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .adapt_sekond_picture {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .adapt_fhird_picture {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .adapt_fourf_picture {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .adapt_fifth_picture {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .footer {
    margin-top: 20px;
    min-block-size: 1024px;
    block-size: 100dvh;
  }
}

@media (width >= 1020px) {
  .header {
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100dvh;
    min-block-size: 768px;
  }

  .header__theme-menu {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    align-self: start;
  }

  .h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .why {
    gap: 30px;
    row-gap: 20px;
  }

  .what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .what_h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .what_first_block {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .what_second_block {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .what_third_block {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .how {
    padding-top: 30px;
  }

  .gallery_adapt {
    padding-top: 30px;
  }

  .footer {
    padding-bottom: 250px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    min-block-size: 1024px;
    block-size: 100dvh;
  }
}
